<div class="sidebar">
    <div class="user_info">
        <p>user</p>
        <p><%= user.email %></p>

        <p><a href="/logout">Logout</a></p>
        <p><a href="/edit_profile">Edit Profile</a></p>
    </div>
<ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/budgets">Budgets</a></li>
        <li><a href="/goals">Goals</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/logout">Logout</a></li>
</ul>
</div>